/* Styling for the container that wraps the OTP input */
.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* Styling for each individual input */
.otp-input {
  width: 67px !important;
  height: 68px;
  font-size: 30px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Styling for the separator */
.otp-separator {
  font-size: 20px;
  margin: 0 5px;
}